.footer {
    flex-shrink: 0;
    padding: 20px;
    background-color: $color-grey-m-tr;
    background-image: url(../../assets/images/noise_transparent.png);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: $color-white;

    &__nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
	&__link {
        font-family: Molgan;
        color: $color-white;
        transition-property: color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        &:hover {
            color: $color-white-tr;
        }
        &:active {
            color: $color-yellow;
        }
    }
    &__created span {
        font-family: Molgan;
    }
}
.github {
	&__link>svg {
        color: $color-white;
        width: 40px;
        height: 40px;
        outline: 1px solid transparent;
        outline-offset: 4px;
        border-radius: 50%;
        transition-property: color, outline-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        &:hover {
            color: $color-white-tr;
        }
        &:focus {
            outline-color: $color-white-tr;
        }
        &:active {
            color: $color-yellow;
        }
    }
}
