//@import '../helpers/variables';

@font-face {
    font-family: "Montiran";
    src: url("../../assets/fonts/Montiran-ywVMV.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.main {
    margin: 20px 4px;
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    gap: 2%;

    &__filters {
        background-color: $color-grey-s-tr;
        border-radius: 20px;
        width: 25%;
    }
}
.filters {
    padding: 4px;

    &__buttons {
        margin-bottom: 6px;
        color: $color-white;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    &__btn {
        padding: 4px 10px;
        border-radius: 4px;
        background-color: $color-grey-s-tr;
        border: 1px solid $color-yellow;
        transition: ease-in-out 0.4s;
        &:hover {
            color: $color-white-tr;
            border-color: $color-white-tr;
        }
    }

    &__buttons-reset {}

    // .filters__buttons-copy

    &__buttons-copy {}

    &__title {
        color: $color-yellow;
        text-align: center;
        border-bottom: 1px solid $color-white-tr;
        margin-bottom: 4px;
    }

    &__category {
        margin-bottom: 6px;
    }

    // .filters__brand

    &__brand {
        margin-bottom: 6px;
    }

    // .filters__price

    &__price {
        margin-bottom: 6px;
    }

    // .filters__stock

    &__stock {
        margin-bottom: 6px;
    }
}
.category {
    background-color: $color-grey-s-tr;
    border-radius: 10px;
    padding: 4px;

    &__title {
    }

    // .category__list

    &__list {
        color: $color-brown-xl;
        height: 146px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 14px;
            background-color: $color-brown-xl;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-grey-m;
            border-radius:4px;
            border: 2px solid $color-white;
        }
    }
}
.checkbox-line {
    & input {
        accent-color: $color-yellow;
        cursor: pointer;
    }
    & label {
        cursor: pointer;
    }
    & span {
        float: right;
    }
}
.item-active {

}
.brand {
    background-color: $color-grey-s-tr;
    border-radius: 10px;
    padding: 4px;

    &__title {}

    // .brand__list

    &__list {
        color: $color-brown-xl;
        height: 146px;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 14px;
            background-color: $color-brown-xl;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-grey-m;
            border-radius:4px;
            border: 2px solid $color-white;
        }
    }
}
.price {

    background-color: $color-grey-s-tr;
    border-radius: 10px;
    padding: 4px;

    &__title {}

    // .price__list

    &__list {}
}
.stock {

    background-color: $color-grey-s-tr;
    border-radius: 10px;
    padding: 4px;

    &__title {}

    // .stock__list

    &__list {}
}
