//@import '../helpers/variables';

@font-face {
    font-family: "Montiran";
    src: url("../../assets/fonts/Montiran-ywVMV.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.main {
    margin: 20px 4px;
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    gap: 2%;
}

.filters{
    background-color: $color-grey-s-tr;
    border-radius: 20px;
    width: 25%;
}
.products {
    background-color: $color-grey-s-tr;
    border-radius: 20px;
    width: 73%;
}