$color-green-l: rgba(75, 168, 125, 1);
$color-green-l4: rgba(75, 168, 125, 0.4);
$color-green-m: rgba(0, 209, 113, 1);
$color-green-m4: rgba(0, 209, 113, 0.4);
$color-green-s: rgba(202, 234, 199, 1);
$color-green-xs: rgba(225, 246, 223, 1);
$color-black: rgba(0, 0, 0, 1);
$color-grey-xl: rgba(49, 49, 49, 1);
$color-grey-l: rgba(112, 112, 112, 1);
$color-grey-m: rgba(219, 219, 219, 1);
$color-grey-s: rgba(244, 244, 244, 1);
$color-grey-xs: rgba(255, 255, 255, 1);