.main {
  &__cart {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
}

.ordered {
  display: flex;
  flex-direction: column;

  background-color: $color-grey-s-tr;
  border-radius: 20px;
  &__header {
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
    align-items: baseline;
    justify-content: space-around;
    color: $color-yellow;
    border-bottom: 2px solid $color-yellow;
    padding: 10px;
  }

  &__amount {
    & input {
      color: $color-white;
      background-color: transparent;
      text-align: center;
      width: 40px;
      border-radius: 6px;
      pointer-events: none;
    }
  }
}

.ordered {
  width: 70%;

  &__product {
    width: 96%;
    color: $color-grey-s;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    margin: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid $color-yellow;
  }

  // .ordered__number

  &__number {
    font-size: 18px;
    font-weight: bold;
  }

  // .ordered__item

  &__item {
    flex-grow: 1;
  }

  // .ordered__manage

  &__manage {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .ordered__stock

  &__stock {
    font-size: 0.9rem;
    white-space: nowrap;
  }

  // .ordered__how-many

  &__how-many {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    &_drop,
    &_add {
      border: 1px solid $color-grey-s-tr;
      border-radius: 50%;
      padding: 4px;
      cursor: pointer;
    }
  }

  // .ordered__item-price

  &__item-price {
  }
}

.item {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
  cursor: pointer;
  &__img {
    border: 1px solid $color-yellow;
    border-radius: 6px;
    max-width: 60px;
    max-height: 60px;
  }

  // .item__info

  &__info {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .item__title

  &__title {
    color: $color-white;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid $color-grey-s;
  }

  // .item__description

  &__description {
    text-align: center;
  }

  // .item__additionally

  &__additionally {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    color: $color-brown-xl;
  }

  // .item__rating

  &__rating {
  }

  // .item__discount

  &__discount {
  }
}

.summary {
  display: flex;
  flex-direction: column;
  background-color: $color-grey-s-tr;
  border-radius: 20px;
  color: $color-white;
  align-items: center;
  gap: 10px;
  border: 1px solid $color-yellow;
  width: 26%;
  height: fit-content;
  &__header {
    justify-content: space-around;
    color: $color-yellow;
    border-bottom: 2px solid $color-yellow;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  // .summary__products

  &__products {
    // .summary__products_amount

    &_amount {
    }
  }

  // .summary__total

  &__total {
    // .summary__total_amount

    &_amount {
    }
  }

  // .summary__promo

  &__promo {
    text-align: center;
  }
  & p {
    font-size: 0.5rem;
    color: $color-white-tr;
  }
}

#promo {
  width: 80%;
  color: $color-white-tr;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 6px 10px;
  border: 1px solid $color-yellow;
  background: $color-brown-xl;
  border-radius: 8px;
  outline: none;
  text-align: center;
}

.by-now {
  color: $color-white-tr;
  font-size: 1rem;
  padding: 6px 10px;
  border: 1px solid $color-yellow;
  background: $color-brown-xl;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s;
  margin-bottom: 10px;
  &:hover {
    color: $color-white;
    background: $color-brown-m;
  }
  &:active {
    background: $color-brown-s;
  }
}
