@import './scss/variables';
@import './scss/typography';
@import './scss/normalize';
@import './scss/header';
@import './scss/main_filters';
@import './scss/main_products';
@import './scss/footer';
@import '../pages/order-cart/cart';
@import '../pages/order-page/order';
@import '../pages/page-404/page-404';
@import '../pages/product-page/product';
@import '../pages/product-details/details';
@import '../pages/purchase-page/purchase';
@import './scss/media';

@import './scss/active';
