.purchase {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-grey-m-tr;
  background-color: #383838;
  display: flex;
  align-items: center;
  text-align: center;
}

#form {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid $color-yellow;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-white;

  input {
    background-color: inherit;
    border: none;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }

  .form-title {
    margin: 8px auto;
  }

  .form-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    border-radius: 30px;
    margin: 3px auto;
  }
  .card-details {
    margin: 0 auto;
    width: 290px;
    height: 180px;
    background-color: #a19b8a;
    border: 1px solid $color-yellow;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    .card-number,
    .card-expiration,
    .card-cvc {
      width: 100%;
      border-radius: 5px;
      margin: 5px;
    }

    .card-expiration {
      width: 50%;
    }

    .card-cvc {
      width: 30%;
    }
  }

  input {
    border-radius: 5px;
    border: 2px solid $color-yellow;
  }

  .error {
    border-color: red;
  }

  .success {
    border-color: green;
  }

  .button {
    padding: 4px 6px;
    background-color: $color-brown-s;
    color: $color-white;
    border-radius: 6px;
    border: 1px solid $color-yellow;
    margin: 20px auto;
    width: 100px;
    text-align: center;
    cursor: pointer;

    &:hover {
      transition: ease-in-out 0.4s;
      color: $color-white-tr;
      border: 1px solid $color-white-tr;
    }

    &:active {
      transition: ease-in-out 0.2s;
      color: $color-brown-l;
      border: 1px solid $color-brown-l;
    }
  }
}
