.main {
  &__details {
    background-color: $color-grey-s-tr;
    border-radius: 20px;
    width: 73%;
    overflow: hidden;
  }
}

.details {
  display: flex;
  flex-direction: column;

  &__title {
    color: $color-white;
    text-align: center;
    flex-grow: 0.5;
    padding: 20px 0;
    background-color: $color-grey-s-tr;
    height: 70px;
  }

  &__info {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    height: 100%;
    padding: 6px;

    .info {
      &__small-img {
        width: 100px;

        img {
          width: 100%;
          border: 1px solid $color-brown-s;
          border-radius: 0.5rem;
          cursor: pointer;
        }
      }

      &__large-img {
        max-width: 40%;
        display: flex;
        align-items: center;

        img {
          width: 100%;
          border: 1px solid $color-brown-s;
          border-radius: 0.5rem;
          cursor: pointer;
        }
      }

      &__descr-items {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 6px;
        color: $color-yellow;

        .descr-item {
          background-color: $color-grey-s-tr;
          padding: 0;
          overflow: hidden;
          width: 100%;
          height: calc(100% / 6);
          border-radius: 0.5rem;
          text-align: center;

          .item-title,
          .item-prop {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $color-brown-s;
          }
          .item-title {
            background-color: $color-grey-s-tr;
          }
        }
      }
      &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 10px;

        .price {
          font-size: 2rem;
          color: $color-yellow;
        }

        .buttons {
          font-size: 1.5rem;
          padding: 4px 6px;
          background-color: $color-brown-s;
          color: $color-white;
          border-radius: 6px;
          border: 1px solid $color-yellow;
          margin: 4px 0;

          &:hover {
            transition: ease-in-out 0.4s;
            color: $color-white-tr;
            border: 1px solid $color-white-tr;
          }

          &:active {
            transition: ease-in-out 0.2s;
            color: $color-brown-l;
            border: 1px solid $color-brown-l;
          }
        }
      }
    }
  }
}
