@font-face {
  font-family: 'Montiran';
  src: url('../../assets/fonts/Montiran-ywVMV.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.main {
  margin: 20px 4px;
  flex: 1 0 auto;
  display: flex;
  flex-flow: row wrap;
  gap: 2%;
  justify-content: center;

  &__filters {
    background-color: $color-grey-s-tr;
    border-radius: 20px;
    width: 25%;
  }
}
.filters {
  padding: 4px;

  &__buttons {
    margin-bottom: 6px;
    color: $color-white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 4px;
  }

  &__btn {
    padding: 4px 10px;
    border-radius: 4px;
    background-color: $color-brown-s;
    color: $color-white;
    border: 1px solid $color-yellow;
    &:hover {
      transition: ease-in-out 0.4s;
      color: $color-white-tr;
      border: 1px solid $color-white-tr;
    }
    &:active {
      transition: ease-in-out 0.2s;
      color: $color-brown-l;
      border: 1px solid $color-brown-l;
    }
  }

  &__buttons-reset {
  }

  &__buttons-copy {
  }

  &__title {
    color: $color-yellow;
    text-align: center;
    border-bottom: 1px solid $color-white-tr;
    margin-bottom: 4px;
  }

  &__category {
    margin-bottom: 6px;
  }
  &__brand {
    margin-bottom: 6px;
  }
  &__price {
    margin-bottom: 6px;
  }
  &__stock {
    margin-bottom: 6px;
  }
}
.category {
  background-color: $color-grey-s-tr;
  border-radius: 10px;
  padding: 4px;
  &__list {
    color: $color-brown-xl;
    height: 146px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px;
      background-color: $color-brown-xl;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-grey-m;
      border-radius: 4px;
      border: 2px solid $color-white;
    }
  }
}
.checkbox-line {
  font-size: 14px;
  & input {
    position: relative;
    bottom: -3px;
    accent-color: $color-yellow;
    cursor: pointer;
  }
  & label {
    cursor: pointer;
  }
  & span {
    float: right;
  }
}
.item-active {
}
.brand {
  background-color: $color-grey-s-tr;
  border-radius: 10px;
  padding: 4px;
  &__list {
    color: $color-brown-xl;
    height: 146px;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px;
      background-color: $color-brown-xl;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-grey-m;
      border-radius: 4px;
      border: 2px solid $color-white;
    }
  }
}
.price {
  background-color: $color-grey-s-tr;
  border-radius: 10px;
  padding: 6px;

  &__title {
  }

  // .price__list

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 4px;
    margin: 4px;
    & input {
      font-size: 0.6rem;
      text-align: center;
      outline: none;
      border-radius: 6px;
      border: 1px solid $color-yellow;
      background-color: $color-grey-s-tr;
      color: $color-white;
      -moz-appearance: textfield;
      appearance: none;
    }
  }

  &__min {
    width: 25%;
  }

  // .price__min-input

  &__min-input {
    width: 100%;
  }

  // .price__max

  &__max {
    width: 25%;
  }

  // .price__max-input

  &__max-input {
    width: 100%;
  }

  &__slider {
    height: 4px;
    background-color: $color-brown-xl;
    border-radius: 2px;
    position: relative;
    margin: 10px;
  }

  &__progress {
    height: 4px;
    background-color: $color-yellow;
    border-radius: 2px;
    position: absolute;
    left: 0%;
    right: 0%;
  }

  &__range-input {
    position: relative;
    margin: 10px;
    & input {
      position: absolute;
      height: 4px;
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      background: none;
      top: -14px;
      pointer-events: none;
      cursor: pointer;
    }
  }
  &__divider {
    color: $color-white;
    font-size: 1rem;
  }
}

.stock {
  background-color: $color-grey-s-tr;
  border-radius: 10px;
  padding: 6px;

  &__title {
  }

  // .price__list

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 4px;
    margin: 4px;
    & input {
      font-size: 0.6rem;
      text-align: center;
      outline: none;
      border-radius: 6px;
      border: 1px solid $color-yellow;
      background-color: $color-grey-s-tr;
      color: $color-white;
      -moz-appearance: textfield;
      appearance: none;
    }
  }

  &__min {
    width: 25%;
  }

  // .price__min-input

  &__min-input {
    width: 100%;
  }

  // .price__max

  &__max {
    width: 25%;
  }

  // .price__max-input

  &__max-input {
    width: 100%;
  }

  &__slider {
    height: 4px;
    background-color: $color-brown-xl;
    border-radius: 2px;
    position: relative;
    margin: 10px;
  }

  &__progress {
    height: 4px;
    background-color: $color-yellow;
    border-radius: 2px;
    position: absolute;
    left: 0%;
    right: 0%;
  }

  &__range-input {
    position: relative;
    margin: 10px;
    & input {
      position: absolute;
      height: 4px;
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      background: none;
      top: -14px;
      pointer-events: none;
      cursor: pointer;
    }
  }
  &__divider {
    color: $color-white;
    font-size: 1rem;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  -webkit-appearance: none;
  background-color: $color-yellow;
  border-radius: 50%;
  border: 1px solid $color-brown-xl;
  pointer-events: auto;
}
input[type='range']::-moz-range-thumb {
  height: 10px;
  width: 10px;
  -moz-appearance: none;
  background-color: $color-yellow;
  border-radius: 50%;
  border: 1px solid $color-brown-xl;
  pointer-events: auto;
}
