.main {
  &__products {
    background-color: $color-grey-s-tr;
    border-radius: 20px;
    width: 73%;
  }
}
.products {
  padding: 6px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 23%;
    background-color: $color-grey-s-tr;
    border-radius: 10px;
    border: 1px solid $color-brown-s;
    align-self: stretch;
    justify-content: flex-end;
  }

  // .products__title

  &__title {
    margin: 4px;
    color: $color-white;
    text-align: center;
    flex-grow: 1;
  }

  // .products__photo

  &__photo {
    align-self: center;
    width: 98%;
    flex-grow: 1;
  }

  // .products__img

  &__img {
    width: 100%;
    border-radius: 10px;
  }

  // .products__price

  &__price {
    color: $color-yellow;
    text-align: center;
  }

  // .products__currency

  &__currency {
  }

  // .products__options

  &__options {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 4px;
    & button {
      font-size: 0.8rem;
      padding: 4px 6px;
      background-color: $color-brown-s;
      color: $color-white;
      border-radius: 6px;
      border: 1px solid $color-yellow;
      margin: 4px 0;
      &:hover {
        transition: ease-in-out 0.4s;
        color: $color-white-tr;
        border: 1px solid $color-white-tr;
      }
      &:active {
        transition: ease-in-out 0.2s;
        color: $color-brown-l;
        border: 1px solid $color-brown-l;
      }
    }
  }

  // .products__details

  &__details {
  }

  // .products__cart

  &__cart {
  }
}
